
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

:root{
    --primaryColor : #2EB8B6;
    --secondaryColor : #38E0DE;
    --tertiaryColor : #92e5e3;
    --surface : #deeded;
    --themeYellow : rgb(255, 250, 112);
}

*, *::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
}
* {
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
        
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        overflow-x: hidden;
        font-family: Quicksand, sans-serif;
  }

  

  .bgColor{
    background-color: var(--primaryColor);
    transition: all 0.5s ease;

  }
  

  header{
    
    height: 100vh;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .nav{
    padding-top: 20px;
    z-index: 1500;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur;  
    position: fixed;
  }

  .nav img{
    margin-left: 20px;
    width: 100px;
    height: auto;
  }


  .nav ul{
    float: right;
    /* background-color: aqua; */
    list-style: none;
    margin-right: 40px;
    padding: 20px 20px 20px 20px;
    /* padding-right: 10px; */
  }

  .nav ul li{    
    display: inline;
    margin-left: 40px;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
  }

  .nav a{
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px;
    border-radius: 16px;
  }
  
  .nav li:nth-child(1){
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 10px;
  }

  .nav li:hover{
    background: #ffffff6a;
    color: #000;
    transition: 0.6s ease;
  }

  

  /* .burger-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    visibility: hidden;
    right: 0;
    margin-left: 0px;
    margin-right :10px;
    justify-content: center;
    gap: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
  } */

  #check{
    float: right;
    display: none;
  }

  .checkbtn{
    float: right;
    padding-right: 40px;
    font-size: 1.5rem;
    color: #fff;
    display: none;
  }

  /* #dropdown{
    display: none;
  } */

  .burger-menu{
    top: 80px;
    /* height: 50vh; */
    /* background-color: #fff; */
   
    
    justify-content: start;
   
   
    /* opacity: 50%; */

    display: none;
    flex-direction: column;
    visibility: visible;
    
    z-index: 998;
 
    
    /* visibility: hidden; */
    /* transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32,1.275); */
  }

  /* .burger-menu.open{
    height: 50vh;
  } */
  

  .burger-menu ul{
    
    /* padding-top: 10px; */
  }

  .burger-menu ul li{
    padding: 30px;
    /* padding-top: 50px; */
  }


 
  .burger-menu ul li a{
    padding-top: 10px;
    text-decoration: none;
    color: #2EB8B6;
    font-size: x-large;
  }

  article{
    float: left;
    height: 100vh;
    width: 100%;
  }

  aside{
    flex-direction: column;
    display: flex;
    position: absolute;
    left: -220px;
    z-index: 1499;
    height: 200px;
    width: 250px;
    top : 300px;
    background-color: #289d9b;
    border-radius: 0px 20px 20px 0px;
    justify-content: center;
    align-items: center;
  }

  aside img{
    border-radius: 100px;
    border: 2px #fff solid;
  }
  aside p{
    font-size: x-small;
  }

  aside:hover{
    transition: all .5s ease;
    left: 0px;
    /* transform: scaleY(1.5); */
  }

  aside .social{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  #fb:hover{
    transform: scale(1.5);
    transition: all .5s ease;
    color: rgb(28, 28, 189);
  }

  #tw:hover{
    transform: scale(1.5);
    transition: all .5s ease;
    color: rgb(60, 182, 231);
  }

  #ig:hover{
    transform: scale(1.5);
    transition: all .5s ease;
    color: rgb(255, 27, 194);
  }

  #tt:hover{
    transform: scale(1.5);
    transition: all .5s ease;
    color: rgb(36, 8, 29);
  }


  /* Section 1 */
  .wrapper-main{
    float: right;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }

  .wrapper-main img{
    filter: brightness(50%);
    
    /* background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ); */
    overflow: hidden;
    display: flex;
    position: absolute;
    background-repeat: no-repeat;
    /* background-size: fill; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation:fadeIn 5s infinite;
  }

  @keyframes fadeIn {
    0% {
      filter: brightness(0%); 
    }
    50% {
      filter: brightness(50%); 
    }
    80% {
      filter: brightness(50%); 
    }
    100% {
      filter: brightness(0%); 
    }
  }
  




  .container-main{
    z-index: 997;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: auto;
    color: #fff;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
  }

  .promo h1{

    z-index: 997;
    font-size: 50px;
  }

  .promo h1 b{
    font-size: 50px;
    color: var(--secondaryColor);
  }
  
  .subscribe-form{
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #2EB8B6; */
    justify-content: center;
  }
  .subscribe{
    z-index: 2;
    display: flex;
    flex-direction:row;
    /* margin: 10px; */
    align-items: center;
    vertical-align:middle;
    background-color: #fff;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    justify-content: center;
  }

 .input-email{
  overflow: auto;
  /* width: 100%; */
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  
  /* padding: 20px; */
  /* border-radius: 30px; */
 }

 .send-email{
  /* cursor:grabbing; */
  background-color: var(--tertiaryColor);
  /* margin-top: 20px; */
  padding: 10px 20px 10px 20px ;
  border-radius: 30px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  margin: 10px;
 }

 .send-email:hover{
  background-color: rgb(255, 138, 112);
  transition: all 0.5s ease;
 }






  /* ======================================== Section 2  */


  .top-border {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.top-border svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 182px;
}

.top-border .shape-fill {
    fill: #2EB8B6;
}

  #booking{
    background-color: var(--surface);
    background: linear-gradient( var(--surface), #fff)
}

  #booking-divider1 {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */
}

#booking-divider1 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 111px;
}

#booking-divider1 .shape-fill {
    fill: var(--surface);
    
}

#booking-divider2 {
    z-index: 998;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#booking-divider2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 111px;
}

#booking-divider2  .shape-fill {
    fill: var(--primaryColor);
}

/* .booking-border{
  height: 10%;
  width: 100%;
  background-color: var(--primaryColor);
  z-index: 999;
} */

#top-border{
  margin-bottom: 3%;
}

#bottom-border{
  margin-top: 3%;
}




.booking-wrapper{
  height: 100%;
  background-color: var(--surface);
  display: inline-block;
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
}


.booking-content{
  justify-content: start;
  align-items: start;
  display: block;
  /* background-color: #38E0DE; */
  /* position: relative; */
  /* padding-top: 200px; */
  /* display: flex;
  flex-direction: column; */

  /* height: 830px; */
  /* overflow: hidden; */
  width: 100%;
  /* height: 100vh; */
  /* margin: auto; */
  /* padding: auto ; */
  /* float: left; */
  /* flex-direction: column; */
}

.booking-title{
  /* padding-top: 20px; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.booking-title h1{
  /* margin-top: 10vh; */
  font-size: 30px;
  display: flex;
  width: 100%;
  /* background-color: aquamarine; */
  justify-content: center;
  text-align: center;
  
  /* padding-bottom: 10px; */
  flex-basis: auto;
}

.booking-title h2{
  display: flex;
  width: 100%;
  /* padding-bottom: 20px; */
  justify-content: center;
  align-items: center;
}

.packages{
  position: relative;
  width: 100%;
  display: inline-block;
  /* flex-direction: row; */
  overflow:hidden;
  white-space: nowrap;
  scroll-behavior:smooth;
  
}

.card-item{
  background-color: #2EB8B6;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  height: 320px;
  width: 240px;
  border-radius: 20px;  
  overflow: hidden;
  padding: 8px;
 
}

.card-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* padding: 10px; */
  border-radius: 15px;
}

.card-body{
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* background-color: #000;
  opacity: 50%; */
  
}

.card-info{
  color: #fff;
  height: 100%;
  width: 100%;
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  /* overflow: visible; */
  justify-content: center;
  /* align-items: center; */
}

.card-info h1{
  /* padding-top: 20px; */
  font-size: xx-large;
  padding-left: 20px;
  display: none;
}
.card-info h3{
  font-size: large;
  padding-left: 20px;
  display: none;
}

.card-info p{
  font-size: small;
  padding: 20px;
  line-height: 25px;
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  display: none;
}

.card-info a{
  text-align: center;
  font-size: large;
  padding-left: 20px;
  display: none;
  text-decoration: none;
  color: #deeded;
  background-color: #2EB8B6;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  
}

.card-info h1{
  /* display: flex; */
}

.card-body:hover{
  transition: all 0.9s ease;
  backdrop-filter: blur(15px);
  
}

.card-body:hover img{
  filter: brightness(50%);
}

.card-body:hover .card-title{
  transition: all 0.9s ease;
  transform: translateY(5px);
  display: block;
}
.card-body:hover .card-subtitle{
  transition: all 0.9s ease;
  transform: translateY(5px);
  display: block;
}

.card-body:hover p{
  transition: all 0.9s ease;
  transform: translateY(5px);
  display: block;
}
.card-body:hover a{
  transition: all 0.9s ease;
  transform: translateY(5px);
  display: block;
}

.packages .img-container img{
  display: inline-block;
  /* flex-direction: row; */
  height: 320px;
  object-fit: cover;
  
  /* padding: 10px; */
  /* border-radius: 20px; */
  overflow: scroll;
  
}

/* .packages .card-desc:hover{
  
  filter: blur(20px);
  opacity: 0.8;
  transform: scale(1.05,1.05);
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
} */

.package-wrapper i{
  width: 50px;
  /* padding-left: 50px; */
  z-index: 1000;
  position:absolute;
  /* top: 160%; */
  /* top: 0px; */
  transform: translateY(-220px);
  right: 20px;
  font-size: 50px;
  color: #2EB8B6;
}

.package-wrapper i:hover{
  background-color: #fff;
  border-radius: 100px;
  
}


.showScroll{
  display: block;
}

#nextScroll{
  right: 20px;
  display: block;
}

#prevScroll{
  left: 20px;
  display: block;
}







.packages ul li{
  display: inline-block;
  overflow: hidden;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.packages h1{
  
}

.packages .card{
  cursor: grab;
  overflow: hidden;
  width: 200px;
  height: 320px;
  background-color: var(--tertiaryColor);
  margin: 20px;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 12px 12px 30px var(--primaryColor);
  display: flex;
  margin: auto;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}


.packages .card .card-decoration{
  overflow: hidden;
  object-fit: contain;
  max-width:min-content;
  background-repeat: no-repeat;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 200px;
  height: 320px;
  /* background-color: coral; */
  position: relative;
}

.packages .card .card-decoration .icon{
width: 100%;
height: 320px;
object-fit: cover;
/* background-size:cover; */
max-width: 100%;
/* height: auto; */
background-repeat: no-repeat;
}

.packages .card .desc-wrapper{
  z-index: 998;
  background-color: #2EB8B6;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packages .card .desc-wrapper .description{
  font-weight: 700;
  
}

.packages .card .desc-wrapper .remark {
  color: #fff;
}



/* ======================================== Section 3  */
#feature{
  position: relative;
  background: var(--secondaryColor);
}


#feature-divider1 {
  z-index: 997;
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

#feature-divider1 svg {
  position: relative;
  display: block;
  width: calc(270% + 1.3px);
  height: 408px;
}

#feature-divider1 .shape-fill {
  fill: var(--primaryColor);
  
}

.feature-wrapper{
  display: flex;
  width: 100%;
  /* height: 100%; */
  justify-content: center;
}
.feature-title{
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 80px;
  z-index: 1002;
 
  color: #fff;
}

.feature-title h1{
  font-size: xx-large;
}
.feature-title h3{
  font-size: normal;
}


.feature-features{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-card {
  padding: 10px;
  height: 100%;
width: 200px;
text-align: center;
justify-content: center;
align-items: center;
}

.feature-card .img-container {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #2EB8B6;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  }

  .img-container img{
    
   /* margin: 20px; */
    object-fit: contain;
    height: 60%;
    width: 60%;
  }

.feature-card h1{
  color: #083e3e;
  font-size: x-large;
}

.feature-card h3{
  color: #289d9b;
  
  font-size: small;
}




#feature-divider2 {
  z-index: 996;
  position: absolute;
  bottom: 100;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#feature-divider2 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 302px;
}

#feature-divider2 .shape-fill {
  fill: var(--tertiaryColor);
}

/* ======================================== Section 4  */
#about{
  width: 100%;
  background: var(--tertiaryColor);
  justify-content: center;
  align-items: center;
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#about > h1{
  /* width: 100%; */
  margin-top: 20px;
  font-size: xx-large;
  /* justify-content: center; */
}

#about .choice{
  flex-wrap: wrap;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

#about .choice #follow{
  background-color: #38E0DE;
  padding: 10px;
  border-radius: 12px;
  cursor: grab;
}

#about .choice #follow:hover{
  background-color: #2EB8B6;
  transition: 500ms ease all;
  
}
#about .choice #hire{
  background-color:#92e5e3;
  padding: 10px;
  border: 1px solid #deeded;
  border-radius: 12px;
  cursor: grab;
}

#about .choice #hire:hover{
  background-color: #fff;
}

#about .profile{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
#about .profile img{
  border-radius: 20px;
}
#about .profile h2{
  text-align: center;
  position: absolute;
  margin-top: 280px;
  background-color: #fff;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  opacity: 80%;
}

#about p{
  text-align: start;
  justify-content: center;
  margin: 10px;
  font-size: large;
}


/* ======================================== Footer */
footer{
  width: 100%;
  height: 250px;
  background-color: var(--primaryColor);
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
}

footer h1{
  font-size :x-large;
}
footer h2{
  padding-top: 20px;
}

.download-link{
  flex-wrap: wrap;
  color: #083e3e;
  padding:0px 40px 40px 0px;
  display: flex;
  flex-direction: row;
}
.download-link h4{
  padding-top: 40px;
  padding-right: 40px;
}
.download-link i{
  padding-top: 40px;
  cursor: grab;
  font-size: x-large;
  padding-right: 20px;
}
.download-link i:hover{
  transition: all 0.5s ease;
  color: blue;
}

footer .footer-left{
  padding-top: 20px;
  padding-left: 20px;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.footer-left img{
  width: 40%;
  height: auto;
  
}

footer .footer-right{
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  /* left: 0px; */
}


  /* Medium devices (landscape tablets, 768px and down) */
  @media screen and (max-width: 900px) {
    .nav ul{
      display: none;
      transition: all 0.5s ease;
      /* visibility: hidden; */
    }

    .nav ul li a:focus ~ ul{
      display: none;
    }

    .burger-btn{
      visibility: visible;
    }

    .checkbtn{
      display: block;
    }

    .burger-menu{
      /* display: flex; */
    }

    #check:checked ~ ul{
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      
      /* position: absolute; */
      /* margin-left: 10%; */
      width: 80%;
      gap: 30px;
      
      /* align-items: center; */
      
    }

   

    #main-logo{
      width: 100px;
      height: auto;
    }

    #feature{
      height: 150vh;
    }

    .feature-features{
      top: 30%;
    }

    .feature-title h1{
      font-size: x-large;
    }
    .feature-title h3{
      font-size: small;
    }

    .download-link h4{
      padding-top: 20px;
    }
    .download-link i{
      padding-top: 20px;
    }

    #about p{
      text-align: center;
    }

    .feature-card .img-container {
      /* width: 150px;
      height: 150px; */
      }
  }
